/.DS_Store
/__pycache__
helper_scripts/__pycache__
/.idea
*/__pycache__
__pycache__
.vscode
.ipynb_checkpoints
COG_CACHE/
*.nc
tmp/*
old/*
jupyter_tests/*
.coverage

docs/generated/

logs/app.log

logs/errors.log
